html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:lightcyan;
}footer{
    background-color:black;
    color:white;
}
nav {
    background-color: black;
    color:white;
}

label{
   font-weight:bold;
   font-size:larger
}
h1,h2{
    color:darkblue
}